.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.container {
  margin-left: 15.625rem;
  margin-right: 15.625rem;
}
header {
  height: 100vh;
  background-image: url(Assets/Hero-bg.png);
  display: flex;
  flex-direction: column;
}
nav {
  height: 10rem;
  width: 100rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Bname a {
  text-decoration: none;
  font-size: 3.1rem;
  font-weight: bolder;
  color: #4e47ff;
}
li button {
  height: 3rem;
  width: 8.25rem;
  font-size: 1.1rem;
}
.button {
  background-color: #4e47ff;
  font-weight: 550;
  color: #ffffff;
  border-radius: 0.75rem;
  transition: transform 0.5s ease;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition-delay: 10ms;
}
.banner {
  height: 25rem;
  width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner p {
  font-size: 6rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  color: #252432;
}
.banner button {
  height: 4rem;
  width: 12rem;
  font-size: 1.4rem;
}
main{
height: 30rem;
width: 100rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.main-left{
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-left h3{
 font-size: 4rem;
 color: #252432;
}
.main-left p{
  font-size: 2rem;
  color: #252432;
}
.main-left button{
  height: 4rem;
  width: 15rem;
  font-size: 1.2rem;
}
.main-right img{
height: 30rem;
border-radius: 4rem;
}