.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 10rem;
  margin: auto;
}
.container {
  margin: auto;
}
header {
  height: 100vh;
  width: 100vw;
  background-image: url(Assets/Hero-bg.png);
    max-width: 120rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
nav {
  height: 10rem;
  width: 100rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Bname a {
  text-decoration: none;
  font-size: 3.1rem;
  font-weight: bolder;
  color: #4e47ff;
}
li button {
  height: 3rem;
  width: 8.25rem;
  font-size: 1.1rem;
}
.button {
  background-color: #4e47ff;
  font-weight: 550;
  color: #ffffff;
  border: transparent;
  border-radius: 0.75rem;
  transition: transform 0.5s ease;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-delay: 10ms;
  background-color: #2923e4;
}
.banner {
  height: 25rem;
  width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner p {
  font-size: 6rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  color: #252432;
}
.banner button {
  height: 4rem;
  width: 12rem;
  font-size: 1.4rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.action-section {
  height: 30rem;
  width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-section-left {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.action-section-left h3 {
  font-size: 4rem;
  color: #252432;
}
.action-section-left p {
  font-size: 2rem;
  color: #252432;
}
.action-section-left button {
  height: 4rem;
  width: 15rem;
  font-size: 1.2rem;
}
.action-section-right img {
  height: 30rem;
  border-radius: 4rem;
}
.productive-user-section {
  height: 30rem;
  width: 100rem;
  display: flex;
  background-color: #4d47ff17;
  border-radius: 2.5rem;
}
.productive-user-content {
  height: 22rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.productive-user-content p:first-child {
  font-size: 3.5rem;
  font-weight: 600;
  color: #252432;
  margin: auto;
}
.user-details {
  display: grid;
  grid-template-columns: auto auto auto;
}
.user-details h1 {
  font-size: 8rem;
  justify-content: end;
  margin: auto;
  color: #4e47ff;
}
.user-details p {
  font-size: 2rem;
  justify-content: end;
  margin: auto;
  color: #000000;
  opacity: 50%;
}
.people-review {
  height: 40rem;
  width: 100rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.people-review h2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: #252432;
}
.reviews {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  padding: auto;
}
.review1 {
  height: 25rem;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset;
  border-radius: 2rem;
  background-color: #25243205;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.8rem;
  z-index: 1;
}
.stars img {
  height: 1.9rem;
  width: 1.9rem;
}
.review1 h3 {
  font-size: 2.3rem;
  font-weight: 700;
}
.comment {
  font-size: 1.5rem;
  font-weight: 600;
}
.customer-details {
  display: flex;
  gap: 1rem;
}
.customer-details img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.name {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
.date {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.review2 {
  height: 25rem;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset;
  border-radius: 2rem;
  background-color: #25243205;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.8rem;
  z-index: 1;
}
.stars img {
  height: 1.9rem;
  width: 1.9rem;
}
.review2 h3 {
  font-size: 2.3rem;
  font-weight: 700;
}
.comment {
  font-size: 1.5rem;
  font-weight: 500;
}
.customer-details {
  display: flex;
  gap: 1rem;
}
.customer-details img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.review3 {
  height: 25rem;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset;
  border-radius: 2rem;
  background-color: #25243205;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.8rem;
  z-index: 1;
}
.stars img {
  height: 1.9rem;
  width: 1.9rem;
}
.review3 h3 {
  font-size: 2.3rem;
  font-weight: 700;
}
.comment {
  font-size: 1.5rem;
  font-weight: 500;
}
.customer-details {
  display: flex;
  gap: 1rem;
}
.customer-details img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.focus-better-section {
  height: 60rem;
  width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: #25243205;
}
.focus-better-content {
  height: 50rem;
  width: 100rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  border-radius: 1.5rem;
}
.focus-better-content h2 {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus-better-content p {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus-better-content button {
  height: 4rem;
  width: 15rem;
  font-size: 1.3rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.focus-better-content img {
  border-radius: 4rem;
  margin-left: 15.625rem;
  margin-right: 15.625rem;
}
.form {
  height: 60rem;
  width: 100rem;
  background-color: #25243205;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form h1 {
  font-size: 8rem;
}
.form form {
  width: 40rem;
  font-size: 1.4rem;
  font-weight: 550;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#email {
  height: 4rem;
  width: 40rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
input::placeholder {
  padding-left: 1.8rem;
  font-size: 1.4rem;
}
#name {
  height: 4rem;
  width: 40rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#message {
  height: 10rem;
  width: 40rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form button {
  height: 4rem;
  width: 40rem;
}
#form-button {
  font-size: 1.4rem;
  font-weight: 500;
}
footer {
  height: 40rem;
  width: 100rem;
}
.footer {
  height: 30rem;
  width: 100rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer h1 {
  font-size: 10rem;
  font-weight: 900;
  color: #4e47ff;
}
.footer p {
  font-size: 1.4rem;
  color: #8987a1;
}
.navigation {
  font-size: 1.4rem;
  display: block;
  color: #8987a1;
}
.navigation:hover {
  color: #000000;
  font-weight: 800;
}
.navigate {
  display: flex;
  gap: 4rem;
}
